* {
	box-sizing: border-box;
	font-family: Roboto, Helvetica, Arial, sans-serif;
}

html, body { 
	height: 100%; 
	margin: 0; 
	padding: 0; 

}
.pagecont{
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	height: 100%;
}
#container{
	height: 100%;
	/* Keeps track of the sidebar bar */
	width: calc(100% - 200px);
	display: flex;
	flex-wrap: wrap;
}

.searchbar{
	text-align: center;
	width: 100%;
}

#map{
	width: 100%;
	/* Keeps track of the status bar */
	min-height: calc(100% - 50px);
	float: right;
}

#statusbar{
	*position: absolute;
	width: 100%;
	height: 50px;
	background-color: #565854;
}

#hidebutton{
	position: relative;
	color: #FFFFFF;
	height: 100%;
	width: 50px;
}
#hidebutton > i{
	position: absolute;
	top: 50%;
	margin-top: -10px;
	text-align: center;
	width: 100%;
}

#sidebar{
	background-color: #565854;
	color: #E7FFE8;
	height: 100%;
	width: 200px;
	top: 100px;
	line-height: 35px;
	padding: 10px 10px 30px 10px;
	text-align: left;
}

#sidebar > header {
	font-weight: 400;
	font-size: 26px;
	text-align: center;

}

/* Mobile Desplays */
@media(max-width: 700px){
	#sidebar{
		display: none;
	}

	#container{
		width: 100%;
	}

}
